* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  width: 100vw;
  background-color: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px;
  position: absolute;
  margin-bottom: 900px;
}

nav{
  position: absolute;
  height: 100vh;
  width: 300px;
  background-color:#7f93c0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  gap: 20px;
}

.BiMenu{
  cursor: pointer;
}

.menu-show{
  right: 0;
  transition: all 0.3s ease-in-out;
}

.menu-hide{
  right: -350px;
  transition: all 0.3s ease-in-out;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

body{
  background-color: #BBD0FF;
}

.logo{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit:cover;
  margin-top: 100px;
}

/* --------------------------------------------------------- */
/* Register */



  .createAccount{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 30px;
    align-self: center;
    padding-top: 30px;
  }
  
  .register-box{
      width: 520px;
      max-width: 520px;
      min-height: 400px;
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      background-color: #7f93c0;
      border-radius: 10%;
  }
  
  .registerInput{
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #BBD0FF;
    color:black;
    width: 300px;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    align-self: center;
  }
  
  .register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: 1rem;
    gap: 7px
  }
  
  a, a:visited {
      color: #fff;
  }
  
  .instructions {
    font-size: 0.85rem;
    border-radius: 0.8rem;
    background: #BBD0FF;
    color: black;
    padding: 0.55rem;
    position: relative;
    bottom: -10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .instructions > svg {
    margin-right: 0.25rem;
  }
  
  .offscreen {
    position: absolute;
    left: -9999px;
  }
  
  .hide {
    display: none;
  }
  
  .valid {
    color: lightgreen;
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    padding-right: 100px;
  }
  
  .invalid {
    color: red;
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    padding-right: 100px;
  }
  
  .errmsg {
    background-color: #7f93c0;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    margin-top: 4px;
    align-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .login-link1{
    align-self: center;
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    font-size: 15;
  }
  
  .login-link2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 15;
  }
  
  .sign-up{
    width: 300px;
    height: 50px;
    align-self: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #BBD0FF;
    background-color: #BBD0FF;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
  }

  .sign-up:hover{
    cursor: pointer;
    background-color: black;
    color: white;
  }
  
  .registerAddImg{
    height: 30px;
    width: 30px;
    margin-left: 140px;
    cursor: pointer;
  }
  
  .addImg{
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding-left: 10px;
    font-size: 15;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .registerInputSpecies{
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #BBD0FF;
    color:black;
    width: 300px;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    align-self: center;
    margin-top: 7px;
  }

/* ------------------------------------------------------------------------ */
/* Login */
.loginInput{
  padding: 10px 10px 10px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #BBD0FF;
  color:black;
  width: 300px;
  height: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  align-self: center;
  margin: 10px;
}

.login{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 30px;
    align-self: center;
    padding-top: 30px;
    cursor: pointer;
}

.login-box{
  width: 520px;
  max-width: 520px;
  min-height: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: #7f93c0;
  border-radius: 10%;
}

/* -------------------------------------------- */
/* Posts */
.posted-by-flex-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.posted-by-img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
  margin-top: 5px;
}

.posted-by-username{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 5px;
}

.post-species-breed{
  color: #7f93c0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  margin-top: 8px;
}

.post_body{
  margin-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.like_button{
  margin-left: 18px;
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.likes_count{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.posts-container{
  height: 500px;
  width: 400px;
  background-color: #7f93c0;
  border-radius: 10%;
  margin-top: 40px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-example{
  height: 130px;
  width: 300px;
  background-color: white;
  margin-top: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.profile-img-ex{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

.example-post{
  align-self: center;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}

.comment{
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 15px;
  border-color: #fff;
  border: 1px;
  width: 300px;
  height: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 15px;
}


.filter-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  height: 50px;
}

.filter-text{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 20px;
}

.filter-friends{
  background-color:#BBD0FF;
  width: 60px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px;
  cursor: pointer;
  height: 30px;
}

.filter-friends:hover{
  background-color: black;
  color:white;
  cursor: pointer;
}

.filter-species{
  background-color:#BBD0FF;
  width: 100px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px;
  outline: none;
  height: 30px;
}

.filter-species:hover{
  background-color: black;
  color:white;
}


/* ------------------------------------------------ */
/* Home */






/* --------------------------------------------------- */
/* Search */

.post-search{
  display: flex;
  flex-direction: row;
  gap: 50px;

}

.search-box{
  height: 500px;
  width: 400px;
  background-color: #7f93c0;
  border-radius: 10%;
  margin-top: 40px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-btn{
  background-color:#BBD0FF;
  width: 100px;
  border-radius: 0px 20px 20px 0px ;
  border: 1px;
  outline: none;
  height: 30px;
  cursor: pointer;
}

.search-btn:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}


.search-input{
  background-color:#BBD0FF;
  width: 100px;
  border-radius: 20px 0px 0px 20px ;
  border: 1px;
  outline: none;
  height: 30px;
}

.search-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.find-friends-text{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

.search-img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.search-result-box{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px; 
  width: 200px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.search-result-box:hover{
  background-color: white;
  cursor: pointer;
}

.plus{
  margin-top: 2px;
  height: 20px;
  width: 30px;
  background-color: none;
}

.search-name{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.all-users-box{
  width: 300px;
  height: 300px;
  background-color:#BBD0FF;
  border-radius: 10%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow:scroll;
  text-align: center;
}

.all-users-text{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  margin-top: 10px;
}

.users-box{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px; 
  width: 200px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  align-self: center;
}

.users-box:hover{
  background-color: white;
  cursor: pointer;
}

.search-results{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  height: 50px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  align-self: center;
  overflow: scroll;
}
/* --------------------------------------------------------------------- */
/* Profile */

.create-post-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  text-align: center;
}

.add-img-to-post{
  height: 30px;
  width: 30px;
}

.create-post-container{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.create-post-text{
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

.create-post-input{
  height: 300px;
  width: 300px;
  margin-left: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; 
  outline: none;
  max-height: 300px;
}

.add-img-to-post{
  margin-top: 270px;
}

.post{
  width: 300px;
    height: 50px;
    align-self: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #BBD0FF;
    background-color: #BBD0FF;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.post:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
  
.profile-img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 10px;
}